.newsletter {
  padding: 80px 20px;
  background-color: #007bff;
  color: white;
  text-align: center;
}

.newsletter form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.newsletter input {
  padding: 12px;
  border: none;
  border-radius: 5px;
  width: 250px;
}

.newsletter button {
  padding: 12px 20px;
  background: white;
  color: #007bff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
